{% extends "base.html" %}

{% block title %}{{ _("Auction") }}{% endblock %}

{% block body %}
<div dir="{{ _dir() }}">
    <h3>{{ _("Start New Auction") }}</h3>
    <p>{{ _("There is no in progress auction for this post. do you want to start an Auction?") }}</p></br>
    <form action="{{ url_for('start_auction_view') }}" method="get">
        <input type="hidden" name="post_token" value="{{post_token}}">
        <input class="btn-primary" type="submit" value='{{ _("Start a new Auction") }}'>
    </form>
    <button class="btn-secondary" onclick="window.location.href='{{ return_url }}';">{{ _("Return to Divar") }}</button>
</div>
{% endblock %}
