{% extends "base.html" %}

{% block title %}{{ _("Place a bid") }}{% endblock %}

{% block body %}
<div dir="{{ _dir() }}">
    {% if auction.bids_count %}
    <p>{{ _("Top bids on this item:") }}</p>
        <ul>
          {% for bid in auction.top_bids %}
            <li>{{ bid.amount }}</li>
          {% endfor %}
        </ul>
        <p>{{ _("Total bids:") }} {{ auction.bids_count }}</p>
    {% else %}
    <h4>{{ _("You are the first bidder!") }}</h4>
    {% endif %}

    <form action="{{ url_for('place_bid') }}" method="post">
        <input type="hidden" name="auction_id" value="{{ auction.uid }}">
        <input type="hidden" name="post_token" value="{{ auction.post_token }}">
        <label for="amount">{{ _("Bid Amount (rials):") }}</label><br>
        <input type="number" id="amount" name="amount" value={{ auction.last_bid }} min={{ auction.starting_price }}><br>
        <input type="submit" value='{{ _("Bid") }}' class="btn-primary">
    </form>
    <button hx-delete="{{ url_for('remove_bid', post_token=auction.post_token) }}"
        class="btn-primary"
        hx-trigger="click"
        hx-target="body"
        hx-swap="outerHTML">
        {{ _("Remove Bid") }}
    </button>
    <button class="btn-secondary" onclick="window.location.href='{{ auction.return_url }}';">{{ _("Return to Divar") }}</button>
</div>
{% endblock %}
