{% extends "base.html" %}

{% block title %}{{ _("Auction") }}{% endblock %}

{% block body %}
<div dir="{{ _dir() }}">
    <p style="font-size: larger"><b>{{ _("Auction for ") }}</b> {{ auction.post_title }}</p></p></br>
    <p>
        {{ _("What can auction hall do for you?") }}</br>
        - {{ _("You can start an auction on your advertised item on divar.ir.") }}</br>
        - {{ _("You can place a bid on an item on divar.ir.") }}</br>
        - {{ _("You will get the results of auctions you participate in.") }}</br>
    </p>
    {% if auction %}
        {% if auction.bids_count %}
        <p>{{ _("Top bids on this item:") }}</p>
            <ul>
              {% for bid in auction.top_bids %}
                <li>{{ bid.amount }}</li>
              {% endfor %}
            </ul>
            <p>{{ _("Total bids:") }} {{ auction.bids_count }}</p>
        {% endif %}
        <form action="{{ url_for('auctions') }}" method="get">
            <input type="hidden" name="post_token" value="{{ auction.post_token }}">
            <input type="hidden" name="return_url" value="{{ return_url }}">
            <input class="btn-primary" type="submit" value='{{ _("Enter Auction") }}'>
        </form>
    {% else %}
        <p>{{ _("There is no in progress auction for this post. do you want to start an Auction?") }}</p></br>
        <form action="{{ url_for('start_auction_view', post_token=post_token) }}" method="get">
            <input type="hidden" name="post_token" value="{{ post_token }}">
            <input type="hidden" name="return_url" value="{{ return_url }}">
            <input class="btn-primary" type="submit" value='{{ _("Start a new Auction") }}'>
        </form>
    {% endif %}
    <button class="btn-secondary" onclick="window.location.href='{{ return_url }}';">{{ _("Return to Divar") }}</button>
</div>
{% endblock %}
